#canvas1 {
    position: absolute;
    background: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#restart, #addBall {
    position: absolute;
    background-color: rgb(95, 74, 191);
    padding: 5px;
    border-radius: 10px;
    z-index: 1;
    transition: background-color 0.3s;
}

#restart {
    top: 10px;
    left: 10px;
}



#restart:hover, #addBall:hover {
    background-color: rgb(60, 45, 124);
    cursor: pointer;
}
